<footer class="site-footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-3 column">
        <ul>
         
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="col-xs-6 column">
       {% include social.html %}
        <ul>
          <li>
            <div id="copyright">Copyright © <script type="text/javascript">
              var d = new Date()
              document.write(d.getFullYear())
            </script></div>
            
          </li>
          </ul>
        </div>
        <div class="col-xs-3 column">
         
          </div>
        </div>
      </div>
    <!--   <script type="text/javascript"
      src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script> -->
        <script src="{{ "/assets/js/modernizer.js" | prepend: site.baseurl }}"></script>
      <script>
     // MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
      </script>
      <!--
      <script type="text/javascript"
      src="/assets/js/masonry.pkgd.min.js">
      </script>
      <script type="text/javascript"
      src="/assets/js/imagesloaded.pkgd.min.js">
      </script>
      -->
    </footer>