<ul class="social">
    <li class="social-item">
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
            <span class="icon github">
                  <i class="fa fa-github" aria-hidden="true"></i>
                  <span class="username"></span>
        </a>
    </li>
    <li class="social-item">
        <a href="https://www.instagram.com/{{ site.instagram_username }}" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social-item">
        <a href="https://www.vimeo.com/{{ site.vimeo_username }}" target="_blank">
            <i class="fa fa-vimeo-square" aria-hidden="true"></i>
        </a>
    </li>
    <li class="social-item">
        <a href="https://www.flickr.com/photos/{{ site.flickr_username }}/" target="_blank">
            <i class="fa fa-flickr" aria-hidden="true"></i>
        </a>
    </li>
</ul>
