<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="page-content fadeIn animated">
      <div class="container">
      {{ content }}
      </div>
       <div class="push"></div>
    </div>

    {% include footer.html %}

    </body>
<style type="text/css">.page-content {
  -webkit-animation-duration: 0.5s;
  -webkit-animation-delay: 0s;

}</style>
</html>